
p {
	font-family: 'Montserrat';
	font-size: var(--button-size);
	line-height: 1.2;
	color: #000;
	margin-bottom: calc(var(--button-size) * 1.33);
}
p.date {
	font-size: var(--p18-size);
	font-style: italic;
	margin-bottom: 1rem;
	color: #555;
}
p.question { 
	position: relative;
}
p.question,
p.legal-title {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 0;
	color:#002E50;
}

p.description {
	padding: 0 2.5vw 0 5rem;
}

ul.faq-list {
	list-style-type: none;
	padding: 0 2.5vw 0 5rem;
}

ul.faq-list li p.question::before {
	content: '';
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	right: calc(100% + 1.5rem);
	bottom: 0;
}

h1.faqtitle {
	padding: 0 2.5vw 0 5rem;
	text-align: left;
}


p.question{
	font-size: 22px;
}

p.answer{
	font-size: 17px;
}

p.description{
	font-size: 17px;
}


p.legal-paragraph{
	font-size: 17px;
}

p.legal-title {
	font-size: 22px;
}