<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Studenth - FAQ</title>
  <meta name="description" content="Studenth - FAQ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/legal.css">
  <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="container">
      <div class="wrapper">
      <h1>FAQ</h1>
      <p class="description">Vous retrouverez sur cette page les questions les plus fréquement posées et les réponses de notre équipe.</p>
      <ul class="faq-list">

        {{ range .data }}
        <li>
          <p class="question">{{ .Question }}</p>
          <p class="answer"> {{ .Answer }} </p>
        </li>
        {{ end }}
      </ul>
      </div>
    </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>
