<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Studenth - {{ .data.House.Title }}</title>
  <meta name="description" content="Studenth - {{ .data.House.Title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <!-- <script src="../js/map.js"></script> -->
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
  <!-- <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" /> -->
  <!-- <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script> -->
</head>


<body>
  <h1>{{ .data.House.Title }}</h1>
  <div>
    <img src={{ .data.House.Pic }}>
    <!-- map for later -->
    <!-- <div id="my_osm_widget_map"></div> -->
    <p> Secteur {{ .data.House.Zone }} - {{ .data.House.Org }}</p>
  </div>
  <div>
    <p>Addresse: {{ .data.House.Addr }}</p>
    <p>Contact: {{ .data.House.Num }} </p>
    <a href={{ .data.House.Url }}>Lien vers l'annonce</a>
  </div>
  <div>

  </div>
  <div>
    <p>Informations: {{ .data.House.Info }} </p>
    <p>{{ .data.House.Details }}</p>
    <p>Description: {{ .data.House.Desc }} </p>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>