<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Studenth - Accueil</title>
  <meta name="description" content="Studenth - Accueil">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
</head>


<body>

  <div class="logements">
    <h2>DÉCOUVREZ L'ENSEMBLE DES LOGEMENTS ÉTUDIANTS</h2>
    <ul class="listpreview">
      {{ range .houses}}
        <li>
          <a class="imglink" href="/house/{{ .Id }}">
             <div class="houseCard">
              <img class="captions" src="{{.House.Pic}}" >
                <div class="details">
                  <div class="left">
                    <p class="housetitle">{{ .House.Title }}</p>
                    <p class="zone">{{ .House.Zone }}</p>
                  </div>
                  <div class="right">
                    <p class="price">300 €</p>
                    <div class="fakebtn"><p>EN SAVOIR PLUS</p></div>
                  </div>
                </div>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="more">
      <a href="/housing"><img src="../pictures/more.png"></a>
    </div>
  </div>

  <img class="floatBtn" src="../pictures/float.png" onclick="scrollButton()">

  <div class="articles">
    <h2>ACTUALITÉS</h2>
    <ul class="listpreview">
      {{ range .articles }}
        <li>
          <a href="/rights/{{ .Id }}">
            <div class="houseCard"> 
              <img class="captions" src="{{.MainPicture}}" >
              <div class="details">
                <p class="articletitle">{{ .Title }}</p>
                <p class="articleprev">{{ .Prev }}</p>
                <p class="date">{{ .Date }}</p>
              </div>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="more">
      <a href="/rights"><img src="../pictures/more.png"></a>
    </div>
  </div>

</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>