<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>StudentHouse - Accueil</title>
  <meta name="description" content="StudentHouse - Accueil">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
</head>


<body>
  <h1>Bienvenue sur Studenth, le site qui répond à vos questions concernant les logements étudiants.</h1>
  <div class="questions">
    <h2>Une question? Posez la ici!</h2>
    <form method="POST" name="search" action="" id="form">
      <input type="search" class="searchBar" id="site-search" name="keyword" placeholder="ex: Comment obtenir les APL?">
      <input type="submit" id="sendform" value="Chercher">
    </form>
  </div>

  <div class="logements">
    <h2>Logements disponibles</h2>

    <ul class="listpreview">
      {{ range .houses}}
        <li>
          <a href="/house/{{ .Id }}">
            <div class="houseCard" style="background-image: url({{.House.Pic}})">
              <p class="titre">{{ .House.Title }}</p>
              <p class="zone">{{ .House.Zone }}</p>
            </div>
          </a>
        </li>
      {{ end }}
      <li>
        <a href="/housing">Voir plus...</a>
      </li>
    </ul>
  </div>

  <div class="articles">
    <h2>Nos derniers articles</h2>

    <ul class="listpreview">
      {{ range .articles}}
        <li>
          <a href="/rights/{{ .Id }}">
            <div class="houseCard" style="background-image: url({{.MainPicture}})">
              <p class="title">{{ .Title }}</p>
              <p class="title">{{ .Prev }}</p>
            </div>
          </a>
        </li>
      {{ end }}
      <li>
        <a href="/rights">Voir plus...</a>
      </li>
    </ul>
    
  </div>

</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>