<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Studenth - Mes droits</title>
  <meta name="description" content="Studenth - Mes droits">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <img class="floatBtn" src="../pictures/float.png" onclick="scrollButton()">
  <h1>Mes droits</h1>
  <div class="searchform">
    <form method="POST" name="search" action="" id="form">
      <div class="search">
        <label for="keyword">Rechercher par mot clé</label>
        <input type="search" id="searchkw" name="keyword">
      </div>
      <input type="submit" id="sendform" value="Chercher">
    </form>
  </div>

  <div class="houseslist">
    {{ if eq .keywords "" }}
      <h2>Tous nos articles ({{ .rows }}) :</h2>
    {{ else }}
      <h2>Résultats pour les mots clés: "{{ .keywords }}" ({{ .rows }}):</h2>
    {{ end }}


    <ul class="listpreview">
      {{ if .data }}
      {{ range .data}}
        <li>
          <a class="imglink" href="/rights/{{.Id}}">

            {{ if eq .MainPicture  "" }}
              <div class="houseCard">
                <img class="captions" src="../pictures/no-image.png" >
            {{ else }}
              <div class="houseCard">
                <img class="captions" src="{{.MainPicture}}" >
            {{ end }}
              <div class="details">
                <p class="articletitle">{{ .Title }}</p>
                <p class="articleprev">{{ .Prev }}</p>
                <p class="date">{{ .Date }}</p>
            </div>
            </div>
          </a>
        </li>
      {{ end }}
      {{ else }}
        </ul>
        <div class="noresults">
          <p>Aucuns résultats obtenus pour cette recherche, nous vous conseillons de réitérer votre demande avec de nouveaux paramètres.</p>
        </div>
        <ul>
      {{ end }}
    </ul>
  </div>

</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>