<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Studenth - {{ .data.House.Title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
</head>


<body>
  <img class="floatBtn" src="../pictures/float.png" onclick="scrollButton()">
  <!-- obligatory range, duh -->
  {{ range .infos }}
    <title>Studenth - {{ .Title }}</title>

    <!-- Title -->
    <h1>{{ .Title }}</h1>
    <!-- Main Picture -->
    {{ if ne .MainPicture "" }}
      <img src={{ .MainPicture }}>
    {{ end }}
  {{ end }}


  <!-- start article loop -->
  {{ range .content}}
    <div>
      <!-- lowtitle -->
      {{ if ne .LowTitle "" }}
        <h2>{{ .LowTitle }}</h2>
      {{ end }}
      <!-- Picture -->
      {{ if ne .Picture "" }}
        <img src={{ .Picture }}>
      {{ end }}
      <!-- text -->
      {{ if ne .Text "" }}
        <p class="textarticle">{{ .Text }}</p>
      {{ end }}
    </div>
  {{ end }}

  {{ range .infos }}
    <p class="datearticle"> Le {{ .Date }} </p>
  {{ end }}

    


  <!-- Comments form -->
  
  <div class="searchform">
    <h2 >Postez votre commentaire</h2>
    <form method="POST" name="search" action="" id="form" >
      <div class="search">
        <label for="pseudo">Entrez un pseudo</label>
        <input type="text" id="pseudo" name="pseudo" required >
      </div>
      <div class="search">
        <label for="comment">Tapez votre commentaire</label>
        <textarea id="comment" name="comment" required ></textarea>
        <input type="submit" id="sendform" value="Envoyer">
      </div>
      
    </form>
  </div>

  <div class="comments"> 
    
  <h2 class="lighttitle">Commentaires ({{ .rows}})</h2>
    {{ range .comments}}
    <div class="comments">
      <p class="name"> {{ .Name }}</p>
      <p class="comment">{{ .Comment }}</p>
      <p class="datecomment">{{ .Date}}</p>
    </div>
    {{ end }}
  
  </div>

</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>