<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>StudentHouse - {{ .data.House.Title }}</title>
  <meta name="description" content="StudentHouse - {{ .data.House.Title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/navbar.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
</head>


<body>

  <!-- obligatory range, duh -->
  {{ range .infos }}
    <!-- Title -->
    <h1>{{ .Title }}</h1>
    <!-- Main Picture -->
    {{ if ne .MainPicture "" }}
      <img src={{ .MainPicture }}>
    {{ end }}
  {{ end }}


  <!-- start article loop -->
  {{ range .content}}
    <div>
      <!-- lowtitle -->
      {{ if ne .LowTitle "" }}
        <h2>{{ .LowTitle }}</h2>
      {{ end }}
      <!-- Picture -->
      {{ if ne .Picture "" }}
        <img src={{ .Picture }}>
      {{ end }}
      <!-- text -->
      {{ if ne .Text "" }}
        <p>{{ .Text }}</p>
      {{ end }}
    </div>
  {{ end }}
  <!-- end -->

</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>
</html>